target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDEs ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/
.factorypath
.apt_generated/
.sts4-cache/

### OS & Logs ###
.DS_Store
Thumbs.db
*.log
BankApplication.zip
